<div style="display: flex;margin-top: -50px;">
        <mat-card style="flex: 1 1 auto;padding: 10px;margin: 10px;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Students</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="formStudent">
                    <table 
                        mat-table 
                        [dataSource]="dataStudents.row" 
                        class="mat-elevation-z8"
                        formArrayName="studentCorrection"
                    >
                    
                        <ng-container matColumnDef="student">
                            <th mat-header-cell *matHeaderCellDef> Students</th>
                            <td mat-cell *matCellDef="let x let rowIndex = index"  [formGroupName]="rowIndex"> {{x.student_id.last_name | uppercase }} {{x.student_id.first_name}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="schoolOrig">
                            <th mat-header-cell *matHeaderCellDef> School Origin</th>
                            <td mat-cell *matCellDef="let x let rowIndex = index"  [formGroupName]="rowIndex"> {{x.school_origin_id.short_name}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="schoolCorrect">
                            <th mat-header-cell *matHeaderCellDef> School Correction</th>
                            <td mat-cell *matCellDef="let x let rowIndex = index"  [formGroupName]="rowIndex">
                                <ng-select formControlName="schoolCorrection"  class="form-control">
                                    <ng-option *ngFor="let item of dataSchooolCorrection;let i = index" value="{{i}}">
                                        {{item.school.short_name }}
                                    </ng-option>
                                </ng-select>
                            </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="crossCorrrector">
                            <th mat-header-cell *matHeaderCellDef> Cross Correction</th>
                            <td mat-cell *matCellDef="let x let rowIndex = index"  [formGroupName]="rowIndex"> 
                                <ng-select formControlName="crossCorrection"  class="form-control">
                                    <ng-option *ngFor="let item of dataCorrection;let i = index" value="{{i}}">
                                        {{item.school_correcting_corrector_id.civility}} {{item.school_correcting_corrector_id.last_name | uppercase}} {{item.school_correcting_corrector_id.first_name }}
                                    </ng-option>
                                </ng-select>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="kolomStudent"></tr>
                        <tr mat-row *matRowDef="let row; columns: kolomStudent;"></tr>
                    </table>
                </form>

                <mat-paginator 
                    [length]="dataStudents.count" 
                    [pageSize]="pageSizeStudent" 
                    [pageSizeOptions]="listPageSizeStudent" 
                    showFirstLastButton
                    #matPaginatorStudentTable>
                </mat-paginator>
            </mat-card-content>
        </mat-card>
        <mat-card style="flex: 1 1 auto;padding: 10px;margin: 10px;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Schools</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="dataSchool.row" class="mat-elevation-z8">
                    <ng-container matColumnDef="shcool">
                        <th mat-header-cell *matHeaderCellDef> Schools </th>
                        <td mat-cell *matCellDef="let x">{{x.short_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="student">
                        <th mat-header-cell *matHeaderCellDef> Students </th>
                        <td mat-cell *matCellDef="let x">{{x.students}}</td>
                    </ng-container>

                    <ng-container matColumnDef="correction">
                        <th mat-header-cell *matHeaderCellDef> Correction </th>
                        <td mat-cell *matCellDef="let x">{{x.correction}}</td>
                    </ng-container>

                    <ng-container matColumnDef="diff">
                        <th mat-header-cell *matHeaderCellDef> Diff </th>
                        <td mat-cell *matCellDef="let x">{{x.diff}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="kolomSchool"></tr>
                    <tr mat-row *matRowDef="let row; columns: kolomSchool;"></tr>
                </table>
                <mat-paginator 
                    [length]="dataSchool.count" 
                    [pageSize]="pageSizeSchool" 
                    [pageSizeOptions]="listPageSizeSchool" 
                    showFirstLastButton
                    #matPaginatorSchoolTable
                    >
                </mat-paginator>
            </mat-card-content>
        </mat-card>
</div>


